root = true

[**]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8

[{plugin,editor/fmath/**,dialogs/**}.js]
indent_style = tab

[editor/fmath/**.css]
indent_style = tab



